.App{
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  text-align: center;
  background-color: #13191C;
}
.app-container{
  padding-top: 20px;
  width: 50%;
}
.submit-btn{
  margin-top: 20px !important;
}